{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <img
  src="https://i.pinimg.com/564x/ed/69/33/ed693361bd973a4ff827404cbc74bd73.jpg"
  alt="ðŸœ" width="200" height="200" align="right"/>

    <h1>Hello {{ controller_name }}! âœ…</h1>

    <p><a href="/twig" class="boton">â–  TWIG</a></p>
</div>
{% endblock %}